@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-aeonik: var(--font-aeonik);
  --font-obviously: var(--font-obviously);
  --color-primary: #004763;
  --color-secondary: #B5E7FF;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-aeonik), Arial, Helvetica, sans-serif;
  letter-spacing: -0.02rem;
  overflow-x: hidden;
  width: 100%;
}

.bg-brand-gradient {
  background: linear-gradient(to bottom, #7a949080, #ffffff);
}


